<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
    
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    
    {% include footer.html %}

    <script>
    const btn = document.getElementById('theme-toggle');
    const currentTheme = localStorage.getItem('theme');
    if (currentTheme === 'dark') {
      document.documentElement.classList.add('dark');
      btn.textContent = '☀️';
    }

    btn.addEventListener('click', () => {
      document.documentElement.classList.toggle('dark');
      const dark = document.documentElement.classList.contains('dark');
      btn.textContent = dark ? 'Click for Light Mode ☀️' : 'Click for Dark Mode 🌙';
      localStorage.setItem('theme', dark ? 'dark' : 'light');
    });
    </script>
  </body>
</html>
